* {
    font-family: 'Montserrat', sans-serif;
    color: {{fontColor}};
  	font-size: {{fontSize}}px;
    overflow: hidden;
}

#title {
  font-size: {{titleSize}}px;
  color:{{titleColor}};
  font-weight:bold;
  text-shadow: {{titleShadow}};
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-wrap {
  height: 30px;
  margin: 4px 0;
  position: relative;
  width: 100%;
}

#progress-bar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: {{barColor}};
}

#progress-fill {
  background-color: {{fillColor}};
  display: inline-block;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s ease;
}

#progress-current {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

#progress-goal {
  padding-right: 8px;
}

