* {
    font-family: {{fontFamily}}, sans-serif;
    color: {{fontColor}};
  	font-size: {{fontSize}}px;
    overflow: hidden;
    text-shadow: {{fontShadow}};
}

#points-text {
  background-color: {{backgroundColor}};
  padding: 5px;
}
