* {
    font-family: {{fontFamily}}, sans-serif;
    color: {{fontColor}};
  	font-size: {{fontSize}}px;
    overflow: hidden;
    text-shadow: {{fontShadow}};
}

.pad {
  padding: 5px;
}

#points-text {
  background-color: {{pointsBgColor}};
}

#points-description {
  background-color: {{descriptionBgColor}};
}
